* {
  margin: 20px;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: grey;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

figure figcaption {
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: rgb(153, 153, 42);
    margin: 0;
  }
  h1 {
    font-size: 2.4em;
  }
  h2 {
    text-align: center;
    font-size: 2em;
  }
  p {
    font-size: 1.4em;
  }
  img {
    border-radius: 10px;
  }
  figure figcaption {
    font-size: 1.4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: yellow;
  }
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  }

  p {
    font-size: 1.4em;
  }

  figure figcaption {
    font-size: 1.4em;
    text-align: center;
  }

  img {
    max-width: 250px;
    margin: 0;
    border-radius: 10px;
  }

  .position-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
